.parentRow
{
	display: flex;
	flex-direction: row;
	/*padding: 0.25rem;*/
}

.parentCol
{
	display: flex;
	flex-direction: column;
	/*padding: 0.25rem;*/
}

.rightAlign
{
	text-align: right;
}

.centerAlign
{
	text-align: center;
	justify-content: center;
}

#window
{
	background-color: rgba(200,0,200,0.2);
	gap: 0.25rem;
	height: 97vh;
}

/*
#window div
{
	padding: 0.25rem;
}
*/

.tab
{
	overflow: hidden;
	justify-content: start;
	padding: 0;
	/*color: #0f0;*/
}

.tab button
{
	position: relative;
	color: inherit;
	float: left;
	/*border: 0.5rem outset grey;*/
	border-image: linear-gradient(to right, #ccc -50%, #666 100%) 1;
	border-width: 0.5rem;
	border-style: solid;
	border-bottom: none;
	outline: none;
	cursor: pointer;
	padding: 0.5rem 0.25rem;
	margin-top: 0.5rem;
}

.tab button.active
{
	position:relative;
	z-index: 99;
	/*background-color: #000;*/
	background-color: #fff;
	padding: 0.75rem 0.25rem;
	border-color: #ccc;
	border-image: none;
	border-bottom: none;
	margin: 0;
}

.tab button:not(.active)
{
	padding-top: 0.25rem;
	/*background-color: #030;*/
	background-color: #ddd;
}

.tab button:nth-child(1):not(.active)
{
	z-index: 4;
}

.tab button:nth-child(2):not(.active)
{
	z-index: 3;
}

.tab button:nth-child(3):not(.active)
{
	z-index: 2;
}

.tab button:nth-child(4):not(.active)
{
	z-index: 1;
}

.tab button:not(:first-child)
{
	margin-left: -0.5rem;
}

.tabcontent
{
	position: relative;
	z-index: 98;
	display: none;
	/*background-color: #000;*/
	background-color: #fff;
	/*border: 0.5rem outset grey;*/
	border-image: linear-gradient(to bottom, #ccc 0%, #666 100%) 1;
	border-width: 0.5rem;
	border-style: solid;
	margin-top: -0.5rem;
}

.gridDefault
{
	display: grid;
	grid-template-columns: 10% max-content auto [end];
	column-gap: 0.5rem;
	grid-row-gap: 0.25rem;
	padding: 0.5rem;
	border: 1px black solid;
}

#defLabel
{
	grid-row: 1;
	grid-column: 1 / end;
	display: grid;
	grid-template-columns: subgrid;
}

#handleLabel
{
	grid-column: 1 / end;
}

#defInput
{
	display: grid;
	grid-template-columns: subgrid;
	grid-row: 2;
	grid-column: 1 / end;
}

.reqstar,.error
{
	color: red;
}

#statsHandle
{
	grid-column: 2 / end;
}

#defMaskLabel
{
	grid-row: 3;
	grid-column: 1 / end;
	display: grid;
	grid-template-columns: subgrid;
}

#maskLabel
{
	display: none;
	grid-column: 1 / end;
}

#defMaskInput
{
	display: grid;
	grid-template-columns: subgrid;
	grid-row: 4;
	grid-column: 1 / end;
}

#maskHandle
{
	display: none;
	grid-column: 2 / end;
}

#defPrimary
{
	grid-row: 5;
	grid-column: 1 / end;
	display: grid;
	grid-template-columns: subgrid;
}

#primaryLabel
{
	grid-column: 1 / 3;
}

#statsPrimary
{
	grid-column: 3;
}

#defSecondary
{
	grid-row: 6;
	grid-column: 1 / end;
	display: grid;
	grid-template-columns: subgrid;
}

#secondaryLabel
{
	grid-column: 1 / 3;
}

#statsSecondary
{
	grid-column: 3;
}

.statBlock
{
	/*border: 1px #0f0 solid;*/
	border: 1px #000 solid;
	border-radius: 0.5rem;
	/*color: #0f0;*/
	color: #000;
	background-color: inherit;
	/*background-color: rgba(100,100,0,0.2);*/
	margin: 0.25rem;
	padding: 0rem 0.25rem 0.25rem 0rem;
}

.statItem
{
	flex-grow: 1;
	flex-basis: content;
	margin: 0.25rem 0rem 0rem 0.25rem;
}

.hiddenStat
{
	display: none;
}

.shownStat
{
	display: flex;
}

p
{
	margin: 0.25rem;
}

.statBlock > p
{
	margin: 0.25rem 0rem 0rem 0.25rem;
}

#saveState
{
	justify-content: space-between;
}

#footer
{
	order: 99;
	margin-top: auto;
	margin-bottom: 0.25rem;
}
/*
:not(.parentCol,.parentRow,.dsegOn)
{
	background-color: #FFF;
}
*/