@font-face {
	font-family: "DSEG14-ClassicLight";
	src: url("../Fonts/DSEG14Classic-Light.woff2") format("woff2"),
         url("../Fonts/DSEG14Classic-Light.woff") format("woff"),
         url("../Fonts/DSEG14Classic-Light.ttf") format("truetype");
}

@font-face {
	font-family: "DSEG14-ClassicRegular";
	src: url("../Fonts/DSEG14Classic-Regular.woff2") format("woff2"),
         url("../Fonts/DSEG14Classic-Regular.woff") format("woff"),
         url("../Fonts/DSEG14Classic-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "BigBlue-TerminalPlus";
	src: url("../Fonts/BigBlue_TerminalPlus.TTF") format("truetype");
}

:root
{
	--bg-color: #110;
	--fg-color: #FFAC00;
}

body
{
	height: 98vh;
	margin: 0;
	padding: 0.5rem;
	font-family: "BigBlue-TerminalPlus";
	font-size: 1em;
	background: var(--bg-color);
	color: var(--fg-color);
	text-shadow: 0 0 0px;
}

body::before,
body::after
{
	content:"";
	background: linear-gradient(to bottom, #FFF, #AAA);
    mix-blend-mode: multiply;
    background-repeat: repeat;
	background-size: 100% 2px;
	pointer-events: none;
    inset: 0;
    position: fixed;
    z-index: 99;
	width: 100%;
	height: 100%;
}

.red
{
	color: red;
}

.hidden
{
	display: none;
}

.invisible
{
	visibility: hidden;
}

.dimmed
{
	filter: brightness(50%);
}

button
{
	font-family: "BigBlue-TerminalPlus";
	background-color: var(--fg-color);
	color: var(--bg-color);
	border-color: var(--bg-color);
	border-radius: 0.25rem;
	border-width: 2px;
	box-shadow: 0 0 0.5rem var(--fg-color);
}

button:not(:disabled):not(.profTab):hover
{
	box-shadow: 0 0 15px var(--fg-color);
}

input[type="checkbox"]
{
	background-color: var(--bg-color);
}

h2
{
	margin-top: 0;
	text-decoration: underline;
}

#main
{
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 0.25rem;
	max-width: 400px;
	margin: 0 auto;
}
h1
{
	margin: 0;
	text-align: center;
	text-decoration: underline;
	font-size: 180%
}

h2
{
	margin: 1rem;
	text-align: center;
	text-decoration: underline;
	font-size: 140%;
}

.infoBox
{
	display: flex;
	flex-direction: column;
	border: 0.5rem solid grey;
	/*align-items: center;*/
	/*text-align: center;*/
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.infoName
{
	display: grid;
	grid-template-columns: [start] 1rem [tab] auto [end];
}

.infoName label
{
	grid-row: 1;
	grid-column: start / end;
}

.infoName input
{
	grid-row: 2;
	grid-column: tab / end;
}

.infoRole
{
	display: grid;
	grid-template-columns: [start] 50% [mid] auto [end];
}

.infoRole label
{
	grid-row: 1;
	grid-column: start / mid;
}

.infoRole select
{
	display: grid;
	grid-column: mid / end;
}

.zoneBox
{
	display: flex;
	flex-direction: column;
}

#profTabContainer
{
	display: flex;
	flex-direction: column-reverse;
}

.tabSubContainer
{
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: -0.5rem;
}

.profTab
{
    flex-grow: 1;
	background-color: var(--bg-color);
	color: var(--fg-color);
	box-shadow: 0 0 0;
	cursor: pointer;
	padding: 0.25rem 0.25rem 0.5rem 0.25rem;
	border-radius: 0;
}

.profTab.active
{
	z-index: 75;
	border-image: linear-gradient(to bottom, var(--fg-color) 30%, grey 100%) 1;
	border-width: 0.5rem;
	border-bottom: none;
}

.profTab:not(.active)
{
	border-image: linear-gradient(to bottom, dimgrey 30%, transparent 100%) 1;
	border-width: 0.5rem;
	border-style: solid;
}

.tabSubContainer .profTab:first-of-type:not(.active)
{
	margin: 0.5rem -0.5rem 0 0;
}

.tabSubContainer .profTab:last-of-type:not(.active)
{
	margin: 0.5rem 0 0 -0.5rem;
}


.profContent
{
    border: 0.5rem solid grey;
    padding: 0.5rem;
    margin-top: -0.5rem;
}

#saveBar
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.spacer
{
	flex-grow: 1;
}

footer
{
	margin-top: auto;
	align-self: flex-end;
}