body
{
	--fg-color: var(--main-fg-color);
	--bg-color: var(--main-bg-color);
	--border-color: var(--main-border-color);

	height: 98vh;
	margin: 0;
	padding: 0.5rem;
	font-family: "BigBlue-TerminalPlus-NerdFont-Proportional";
	font-size: 1em;
	background: var(--bg-color);
	color: var(--fg-color);
	text-shadow: 0 0 0px;
}

body::before,
body::after
{
	content:"";
	background: linear-gradient(to bottom, #666, #AAA);
    mix-blend-mode: overlay;
    background-repeat: repeat;
	background-size: 100% 2px;
	pointer-events: none;
    inset: 0;
    position: fixed;
    z-index: 99;
	width: 100%;
	height: 100%;
}

.red
{
	color: red;
}

.dimmed
{
	filter: brightness(50%);
}

button
{
	font-family: "BigBlue-TerminalPlus-NerdFont-Proportional";
	background-color: var(--fg-color);
	color: var(--bg-color);
	border-color: var(--bg-color);
	border-radius: 0.25rem;
	border-width: 2px;
	box-shadow: 0 0 0.5rem var(--fg-color);
}

button:not(:disabled):not(.profTab):hover
{
	box-shadow: 0 0 15px var(--fg-color);
}

input
{
	margin: 0 0.5rem;
}

#main
{
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 0.25rem;
	max-width: 400px;
	margin: 0 auto;
}

h1
{
	margin: 0;
	text-align: center;
	text-decoration: underline;
	font-size: 180%
}

h2
{
	margin: 1rem;
	text-align: center;
	text-decoration: underline;
	font-size: 140%;
}

.mlLoginBox
{
	display: flex;
	flex-direction: column;
	border: 0.5rem solid grey;
	/*align-items: center;*/
	/*text-align: center;*/
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.mlLoginRow
{
	display: grid;
	grid-template-columns: [start] 1rem [tab] auto [end];
}

.mlLoginRow label
{
	grid-row: 1;
	grid-column: start / end;
}

.mlLoginRow input
{
	grid-row: 2;
	grid-column: tab / end;
}

.mlLoginBox button
{
	margin-top: 1rem;
	width: 100%;
}

.postLogon
{
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}

.zoneBox
{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 0.5rem solid var(--border-color);
    padding: 0.5rem;
}

.zoneBox hr
{
	width: 100%;
}

#payloadCharName
{
	/* max-width: 368px */
	/* min-width: 223px? */
	font-size: clamp(100%,100cqw,200%);
	text-align: center;
	margin-bottom: 1rem;
}

#payloadCodeRow
{
	display: grid;
	background-color: var(--bg-color);
	border: 2px solid var(--fg-color);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

#payloadCodeRow .BG
{
	pointer-events: none;
	font-size: 200%;
}

#payloadCodeRow .FG
{
	background-color: var(--trans-clear);
	color: var(--fg-color);
	text-shadow: none;
	border: none;
	font-size: 200%;
	padding: 0;
}

.infoRole
{
	display: grid;
	grid-template-columns: [start] 50% [mid] auto [end];
	width: 100%;
	padding-top: 0.5rem;
}

.infoRole label
{
	grid-column: start / mid;
	align-self: center;
}

.roleBox h2
{
	text-decoration: none;
}

.infoRole select
{
	grid-column: mid / end;
}

.roleBox
{
	width: 100%;
}

.pathBox
{
	width: 100%;
}

.pathBox h1
{
	margin-top: 2rem;
}

.functionSelect
{
	display: grid;
	grid-template-columns: [start] 10% [label] auto [end];
	margin: 0.25rem 0;
}

.functionSelect input
{
	grid-column: start / label;
	align-self: start;
	height: 0.75rem;
	width: 0.75rem;
	margin-top: 0.2rem;
}

.functionSelect label
{
	grid-column: label / end;
}

.funcChoice
{
	margin-left: 0.5rem;
}

/*
#profTabContainer
{
	display: flex;
	flex-direction: column-reverse;
}

.tabSubContainer
{
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: -0.5rem;
}

.profTab
{
    flex-grow: 1;
	background-color: var(--bg-color);
	color: var(--fg-color);
	box-shadow: 0 0 0;
	cursor: pointer;
	padding: 0.25rem 0.25rem 0.5rem 0.25rem;
	border-radius: 0;
}

.profTab.active
{
	z-index: 75;
	border-image: linear-gradient(to bottom, var(--fg-color) 30%, grey 100%) 1;
	border-width: 0.5rem;
	border-bottom: none;
}

.profTab:not(.active)
{
	border-image: linear-gradient(to bottom, dimgrey 30%, transparent 100%) 1;
	border-width: 0.5rem;
	border-style: solid;
}

.tabSubContainer .profTab:first-of-type:not(.active)
{
	margin: 0.5rem -0.5rem 0 0;
}

.tabSubContainer .profTab:last-of-type:not(.active)
{
	margin: 0.5rem 0 0 -0.5rem;
}

.profContent
{
    border: 0.5rem solid grey;
    padding: 0.5rem;
    margin-top: -1rem;
}
*/

.itemSection
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 0.25rem;
	width: 100%;
}

.itemSection h2
{
	align-self: center;
}

.itemSelect
{
	display: grid;
	grid-template-columns: [start] min-content [tab] auto [end];
	width: 100%;
}

.itemCount
{
	grid-column: tab / end;
	grid-row: 2;
}

.itemCountRow
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.itemImgBox
{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(20px,1fr));
	row-gap: 0.25rem;
	justify-items: center;
	align-content: center;
	width: 100%;
}

#saveBar
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

footer
{
	margin-top: auto;
	align-self: flex-end;
}

#modalBG
{
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: clip;
	background-color: var(--modal-bg-color);
}

.modalBox
{
	height: auto;
	max-width: var(--max-main-width);
	font-family: "BigBlue-TerminalPlus-NerdFont-Proportional";
	color: var(--fg-color);
	background-color: var(--bg-color);
	border: 0.5rem solid var(--border-color);
}

.modalHeaderRow
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	border-width: 0 0 0.5rem 0;
	border-color: var(--border-color);
	border-style: solid;
}

.modalHeaderText
{
	text-decoration: underline;
}

.modalClose {
	color: var(--fg-color);
	float: right;
	font-size: 28px;
	font-weight: bold;
}
  
.modalClose:hover,
.modalClose:focus {
	color: var(--bg-color);
	text-shadow:
		 2px  2px 5px var(--fg-color),
		 2px -2px 5px var(--fg-color),
		-2px -2px 5px var(--fg-color),
		-2px  2px 5px var(--fg-color);
	cursor: pointer;
}

.modalBody
{
	padding: 1rem;
}

.modalBodyText
{
	display: flex;
	flex-direction: column;
}

.modalButton
{
	width: 100%;
	font-size: 200%;
}

.hidden
{
	display: none;
}

.invisible
{
	visibility: hidden;
}