html {
    font-size: 14px;
    --black: #000;
    --borders: var(--black);
    --accent: #eea00e;
    --const: rgb(58, 94, 255);
    --let: var(--accent);
    --comments: rgb(37, 141, 16);
    --glow: rgba(37, 141, 16, 0.25);
    --function: rgb(208, 37, 214);
    --common-height: calc(100vh - 16px);
    --font-color: #a1a1a1;
    --section-bg: #1d1d1d;
    --body-bg: #121212;
    --inset-shadow: inset -0.15rem 0.15rem 0.1rem rgba(0,0,0,0.25);
}

* {
    box-sizing: border-box;
}

a:link,
a:visited {
    color: var(--const);
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--comments);
    text-shadow: 0 0 0.75rem var(--glow);
}

h2,
h3 {
    margin-top: 0;
}

h1::before,
h2::before,
h3::before {
    content: '/*';
    padding: 0 0.5em 0 0;
}

h1::after,
h2::after,
h3::after {
    content: '*/';
    padding: 0 0 0 0.5em;
}

p {
    margin: 0;
}

p::before,
p::after {
    font-weight: 900;
    color: var(--function);
}

p::before {
    content: 'info(() => {';
    padding: 0 0.5em 0 0;
}

p::after {
    content: '});';
    padding: 0 0 0 0.5em;
}

menu,
ul {
    list-style-type: square;
}

ul {
    padding: 0;
}

label {
    display: inline-block;
    font-weight: 900;
    font-style: normal;
    color: var(--let);
}

em {
    color: var(--const);
    font-weight: 900;
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
}

input[type="checkbox" i] {
    margin: 0;
}

body::before,
body::after {
    content: '';
    background: linear-gradient(to bottom, #757575, #c4c4c4);
    mix-blend-mode: overlay;
    background-repeat: repeat;
    pointer-events: none;
    inset: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-size: 100% 2px;
}

body {
    font-family: 'Terminal', 'Monaco', 'Cascadia Code', monospace;
    margin: 0;
    padding: 8px;
    height: var(--common-height);
    background: var(--body-bg);
    color: var(--font-color);
    position: relative;
}

footer {
    text-align: center;
    font-size: 0.75rem;
    padding: 1rem;
}

.contained,
.flex-contained {
    margin: auto;
    max-width: 600px;
}

.flex-contained {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    gap: 1rem;
}

.options,
.info {
    border: 0.15rem solid var(--black);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
    background: var(--section-bg);
    box-shadow: var(--inset-shadow);
}

.options .select {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
}

.options {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.info p {
    text-align: justify;
    text-align-last: left;
}

.countdown {
    font-size: 1.75rem;
    text-align: center;
}

.tags {
    display: inline-flex;
    flex-flow: column nowrap;
    width: clamp(3rem, 3.5rem, 3rem);
    height: auto;
    align-items: stretch;
    justify-content: space-between;
    gap: 0.5rem
}

.tags > div:not(:last-child) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
    border: 0.2rem solid var(--borders);
    border-radius: 0.25rem;
    background: var(--borders);
}

.tags > div:last-child {
    --timer-face: #3d4c4f;
    --common: rgba(0,0,0,0.5);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--common);
    text-shadow: -0.065em 0.05em 0 var(--common);
    box-shadow: var(--inset-shadow);
    aspect-ratio: 1 / 1;
    overflow: clip;
    background: var(--timer-face);
    border-radius: 0.25rem;
    border: 0.2rem solid var(--borders);
    text-align: center;
    font-weight: 900;
}

.top,
.bottom{
    --top: #999;
    --left: #333;
    --bottoms-bottom: #444;
    --tops-bottom: #555;
    --right: #ccc;
    background: var(--accent);
    border-width: 0.5rem;
    border-style: solid;
    border-left-color: var(--left);
    border-bottom-color: var(--bottoms-bottom);
    border-top-color: var(--top);
    border-right-color: var(--right);
    height: calc(50% - 0.1rem);
    border-radius: 0.125rem;
}

.top{
    border-bottom-color: var(--tops-bottom);
}

.hidden {
    display: none;
}