/*
    div: rMMBox
      div: rMMGuessRow
      o |A|A|A|C|::::
      div: rMMGuessRow
      o |A|D|C|B|::::
    ...
      div: rMMAnswerRow
        |_|_|_|_|
*/

.rmmBox
{
    display: grid;
    grid-template-columns: [start] 1fr [check] minmax(0.25rem, 1rem) [guesses] min-content [gap] minmax(0.25rem, 1rem) [markers] 1fr [end];
    grid-auto-flow: row;
    padding: 0.5rem;
}

.rmmAnswerCheck,
.rmmFakeCheck
{
    grid-column: start / check;
    height: clamp(15px,30px,30px);
    width: clamp(15px,30px,30px);
    align-self: center;
}

.rmmGuessRow
{
    grid-column: guesses / gap;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.7rem;
    column-gap: 2px;
    border-image-source: url("/resources/images/borders/corner_border.png");
	border-image-width: 16px;
	border-image-slice: 16;
}

.rmmGuessChar
{
    text-align: center;
    height: clamp(20px,40px,40px);
    width: clamp(20px,40px,40px);
    background-color: rgb(from var(--fg-color) r g b / 10%);
    border: 1px solid var(--fg-color);
    border-radius: 0.5rem;
}

.rmmGuessChar img
{
    margin: 5px;
}

.rmmMarkerBox
{
    grid-column: markers / end;
    display: flex;
    flex-direction: column;
    width: min-content;
    justify-content: center;
}

.rmmMarkerRow
{
    display: flex;
    flex-direction: row;
    border: 1px solid var(--border-color);
    border-top-width: 0px;
}

.rmmMarkerRow:first-of-type
{
    border: 1px solid var(--border-color);
}

.rmmMarkerChar
{
    align-content: center;
    text-align: center;
    height: 20px;
    width: 20px;
    padding: 1px;
}

.rmmMarkerChar:first-of-type
{
    border-right: 1px solid var(--border-color);
}

#rmmAnswerBox
{
    padding: 0.5rem;
    width: 100%;
}

.rmmAnswerChar
{
    padding: 0;
}

.rmmAnswerMarker
{
    border: none;
}

img
{
    pointer-events: none;
    user-select: none;
    max-height: 100%;
    max-width: 100%;
}

.rmmSubmitBox
{
    grid-column: guesses / gap;
    width: 100%;
    margin-top: 0.5rem;
}

#rmmSubmitButton
{
    width: 100%;
}